# H1-Comments and Basic Data Types

- Menulis Sebuah 'comment'

In [ ]:
# ini sebuah 'comment'

In [1]:
print('Hello World!')      # ini juga sebuah 'comment'

Hello World!

In [2]:
'''
ini sebuah 'comment' lebih dari satu baris
'''
print('Hello')

Hello

- Tipe Data 'Integers'

In [3]:
# contoh tipe data integer
print(3)
print(7)

3
7

- Tipe Data 'Floats'

In [4]:
# contoh tipe data float
print(2.5)
print(7.9)

2.5
7.9

- Tipe Data 'Booleans'

In [5]:
# contoh tipe data boolean
print(True)
print(False)

True
False

- Tipe Data 'Strings'

In [6]:
# contoh data string
print('')
print('ini ular python')
print('True')

ini ular python
True

# H2-Variables

- Variable Integer dan Float

In [7]:
num1 = 5          # integer variable
num2 = 8.4        # float variable
print(num1, num2)

5 8.4

- Variable Boolean

In [8]:
# contoh variable boolean
baca = True
tulis = False
print(baca, tulis)

True False

- Variable String

In [9]:
# contoh variable string
nama = 'vide'
kelas = '12'
print(nama, kelas)

vide 12

- Multiple Variabel

In [10]:
# contoh menggunakan dua variable
hasil = num1 + num2
print(hasil)

13.4

- Menggunakan Operator pada Variable Angka

In [11]:
# contoh penambahan dan perkalian dari suatu variable
hasil += 1      # sama dengan: hasil = hasil + 1
print(hasil)
hasil *= num1   # sama dengan: hasil = hasil * num1
print(hasil)

14.4
72.0

- Overwriting pada Variable

In [12]:
# tentukan variable dan overwriting nilainya
nama = 'vide'
print(nama)
nama = 'zaki'
print(nama)

vide
zaki

- Latihan H2

In [13]:
# 1. variable output
x = 3
y = 10
hasil = x * y
print(hasil)

30

In [15]:
# 2. area calculation
panjang = 245.54
lebar = 13.66
luas = panjang * lebar
print('Luas persegi panjang tersebut adalah:', luas, 'm^2')

Luas persegi panjang tersebut adalah: 3354.0764 m^2

# H3-Working with Strings

- String Concatenation

In [16]:
# menggunakan operator tambah tanpa variable
nama = 'vide' + ' ' + 'lubis'
print(nama)

vide lubis

In [17]:
# menggunakan operator tambah dan menggunakan variable
first_name = 'vide'
last_name = 'lubis'
full_name = first_name + ' ' + last_name
print(full_name)

vide lubis

- Formatting Strings

In [18]:
# menggunakan method .format()
nama = 'vide'
print('Hello {}'.format(nama))
print('Hello {}, kamu sekarang berumur {} tahun'.format(nama, 25))

Hello vide
Hello vide, kamu sekarang berumur 25 tahun

In [19]:
# menggunakan f strings (ada pada python 3.6 ke atas)
nama = 'vide'
print(f'Hello, {nama}')

Hello, vide

- String Index

In [20]:
# menggunakan index untuk mencetak salah satu elemen
'''
index dimulai dari 0, 1, 2, 3, 4, ... dst.
contoh: kamu ---> k=0, a=1, m=2, dan u=3.
'''
kata = 'Hello'
print(kata[0])
print(kata[1])
print(kata[-1])

H
e
o

- String Slicing

In [21]:
# memotong nilai variable kata dari index 0 s/d 2
print(kata[0:2])

# memotong nilai variable kata dari index 0 s/d 5 dengan 2 step
print(kata[0:5:2])

He
Hlo

- Latihan H3

In [23]:
# 1. Variable Injection:
no1 = 23
no2 = 4.5
cantik = False
nama = 'vide'
print('{} {} {} {}'.format(no1, no2, cantik, nama))

23 4.5 False vide

In [25]:
# 2. Fill in the Blanks:
nama = 'vide'
hobi = 'bersepeda'
print(f'olahraga kesukaan {nama} adalah {hobi}')
print(f'{nama} bekerja sebagai mekanik {hobi[3:]}')

olahraga kesukaan vide adalah bersepeda
vide bekerja sebagai mekanik sepeda

# H4-String Mnipulation

- .title()

In [27]:
# menggunakan method .title() untuk mengkapitalkan string
nama = 'vide lubis'
print(nama.title())

# menggunakan method .upper() untuk uppercase string
nama = 'alak julu'
print(nama.upper())

# menggunakan method .lower() untuk lowercase string
nama ='ZAKI'
print(nama.lower())

Vide Lubis
ALAK JULU
zaki

- .split()

In [28]:
# mengkonversi string ke list
kalimat = 'saya suka sekali buah naga'
print(kalimat.split(' '))

['saya', 'suka', 'sekali', 'buah', 'naga']

- .strip()

In [30]:
# membuang spasi dengan strip
nama = '     vide      '
print(nama.strip())

# membuang operator '=' dengan strip
kata = '=========nasi========='
print(kata.strip('='))

vide
nasi

- .replace()

In [31]:
# mengganti tanda '!' menjadi tanda '.'
kalimat = 'Vide membeli karung di pasar!'
print(kalimat.replace('!', '.'))

Vide membeli karung di pasar.

- .find()

In [32]:
# menemukan index awal dari sebuah kata yang dicari
s = 'lihat!, ada tabrakan beruntun di jalan itu'
print(s.find('jalan'))

33

- Latihan H4

In [33]:
# 1. Uppercasing:
kota = 'jakarta'
print(kota.upper())

JAKARTA

In [34]:
# 2. Strip Symbols:
nama ='$$Vide Lubis'
print(nama.lstrip('$'))

Vide Lubis